<!-- backgrounf Imaige -->
<div
  class="banner"
  *ngIf="singleMovieDetails"
  [style.backgroundImage]="
    'linear-gradient(90deg,black 20%,transparent),url(https://image.tmdb.org/t/p/original/' +
    singleMovieDetails.poster_path +
    ')'
  "
>
  <!-- caption for backgroundImage -->
  <div class="caption">
    <h3>
      {{ singleMovieDetails.title || singleMovieDetails.original_title }}
    </h3>
  </div>
</div>

<!-- 
<div class="tailer py-4">
  <div class="container"*ngFor="let trailer of movieTrailerArray">
    <div class="row">
      <div class="col-sm-6" >
        <p class="alert alert-primary" (click)="movieTrailer(trailer.key)">
          {{ trailer.name }}
        </p>
      </div>
    </div>
  </div>
</div> -->
<!-- video Section -->
<div class="tailer py-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <mat-tab-group>
          <mat-tab label="Overview"
            ><app-moviephotos></app-moviephotos>
          </mat-tab>
          <mat-tab label="Videos">
            <div class="container mt-4">
              <div class="row">
                <div
                  class="col-md-6 mb-4"
                  *ngFor="let movie of movieTrailerArray"
                >
                  <app-movievideo [key]="movie.key"> </app-movievideo>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Photos"> </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
